.main {
	width: 90vw;
	border: solid 3px skyblue;
	height: 85vh;
	margin: 1rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: lightgrey;
}
.main h2 {
	background-color: blue;
	height: 4rem;
	margin-top: 0;
	padding: 1rem;
	color: white;
	font-size: xx-large;
}
.orderForm {
	border: solid lightblue 1px;
	width: 50%;
	margin: 1rem;
	height: 70%;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	background-color: whitesmoke;
}
.orderCheckout {
	border: solid lightblue 1px;
	width: 50%;
	margin: 1rem;
	height: 70%;
	padding-left: 1rem;
	background-color: whitesmoke;
}
